{% extends "network/layout.html" %}
{% load crispy_forms_tags %} 
{% load static %}
{% block body %}


{% if post_list %}

{% for item in post_list %}
 
    <div class="card">
                  
                        <div class="card-actions">
                           <div class="card-body">
                           <a   href="{% url 'profile' item.user.id %}">{{item.user.username}}</a> 
                            <small class="text-muted">{{ item.date}}</small>
                            <p class="article-content">{{ item.content }}</p>
                      
                     </div>

{% endfor %}
 

<span>
   {% if page_obj.has_previous %}
   <a href="?page={{page_obj.previous_page_number}}">previous</a>
   {% endif %}
   <span>{{ page_obj.number }}</span>
   {% if page_obj.has_next %}
   <a href="?page={{page_obj.next_page_number}}">next</a>
   {% endif %}
</span>
 



<div class="col-md-12 mt-1">
   {% if post_list.has_other_pages %}
 <ul class="pagination justify-content-end">
   {% if post_list.has_previous %}

     <li class="page-item"><a class="page-link" href="?page={{ post_list.previous_page_number }}">Previous</a></li>
   {% else %}

   <li class="page-item disabled"><span class="page-link">Previous</span></li>

   {% endif %}

   {% for i in post_list.paginator.page_range %}
     {% if post_list.number == i %}
       <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
     {% else %}
       <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
     {% endif %}
   {% endfor %}

   {% if post_list.has_next %}
     <li class="page-item"><a class="page-link" href="?page={{ post_list.next_page_number }}">Next</a></li>
   {% else %}
     <li class="page-item disabled"><span class="page-link">Next</span></li>
   {% endif %}
 </ul>
{% endif %}
</div>

 


{% else %}
<div class="col-md-12 mt-3">
    <div class="card">
                  <div class="card-body">
                 <p class="text-muted">there are no Post found!!</p>

            </div>

                </div>
    </div>
{% endif%}









{% endblock %}
{% block script %}
    <script src="{% static 'network/inbox.js' %}"></script>
{% endblock %}

