{% extends "network/layout.html" %}

{% block body %}

 
<div class="card-title mb-1">
    <h3>{{profile_user.username}}</h3>
</div>
<div class="text-muted">Following : {{no_following}}</div>
<div class="text-muted">Followers : {{no_follower}}</div>
<div class="card-btn" style="display: {{ disp_follow }}">
   
    <form action="{% url 'follow' profile_user.id %}">
          <button class="btn btn-primary " type="submit">

  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 25 25" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
<desc>Download more icon variants from https://tabler-icons.io/i/user-plus</desc>
<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
<circle cx="9" cy="7" r="4"></circle>
<path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
<path d="M16 11h6m-3 -3v6"></path>
</svg>


          {{fol_unfol}}</button>
    </form>

</div>


{% if post_list %}
{% for item in post_list%}
<div class="card-actions">
    <div class="card-body">
    
     <small class="text-muted">{{ item.date}}</small>
     <p class="article-content">{{ item.content }}</p>

</div>

{% endfor %}

{% endif %}
    

{% endblock %}
